<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREppthDeqfflX0EZKJfqt0-p_87r4ZMeK2XTpBbokOIi7DJvP27w" alt="logo">
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Top 5</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Random Cocktail</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Local Battle Cruisers</a>
  </div>
</div>
